body{
	margin:0 auto;
	padding:0;
	font-family:helvetica, arial, sans-serif;
	z-index:1;

}
/*

.viewport{
	width:100%;
	height:100%;
	display: inline-block;
	top:0;
	left:0;
}

.viewport1{
	background-color: blue;
	height:800px;
}

.viewport2{
	background-color: yellow;
		height:800px;
}*/

/*
.letters{
	display:none; 
}*/

div{
	display: inline-flex;
}

.container{
margin:0 auto;
/*width:100%;*/
font-size:0;
display:inline-block;

}

.wrapper1{
width: 120px;
height: 155px;
display: inline-block;
background-color: white;
position:relative;
overflow: hidden;

}

.wrapper1below{
	height:278px;
	width:120px;
	display: inline-block;
	vertical-align: top;
	position: relative;
}

.wrapperbelow{
	height:74.91%;
	width:100%;
	position:absolute;
	vertical-align: bottom;
	bottom:0;

}

.wrapper2{
width: 83px;
height: 155px;
display: inline-block;
background-color: white;
position:relative;
overflow: hidden;
}

.wrapper5{
width: 200px;
height: 155px;
display: inline-block;
background-color: white;
position:relative;
overflow: hidden;
}

.wrapper4{
width: 35px;
height: 155px;
display: inline-block;
background-color: white;
position:relative;

}

.wrapper6{
	width:80px;

}

.circle{
height:55%;
width:70%;
border-radius:100%;
background-color: gray;
display:inline-block;
bottom:0;
position: absolute;
}

.circle2{
height:79%;
width:79%;
border-radius:100%;
background-color: white;
position: absolute;
right:11%;
top:10%;
}


.halfstem{
	height:55%;
	width:8%;
	background-color: gray;
	position: absolute;
	bottom:0;
	z-index: 3000;
}

.stem{
	height:100%;
	width:8%;
	background-color: gray;
	position: absolute;
	bottom:0;
}

.halfstema{
	right:29%;
}
.serifbottom{
	width:31%;
	height:6%;
	background-color: gray;
	position: absolute;
	bottom:0;

}


.seriftop {
	width:30%;
	height:6%;
	background-color: gray;
	position: absolute;

}

.circlea{
	left:0;
}

.seriftopa{
	right:0;
	bottom:49%;

}

.serifbottoma{
	bottom:0;
	right:0;

}


.serifbottomb{
	bottom:0;

}

.circleb{
	right:0;
}

.stemb{
	right:63%;
}


.stemd{
	right:29%;
}

.seriftopd{
	right:0;
}

.serifbottomd{
	right:0;

}

.circled{
	left:0;
}


.circlee{
	
}

.dot{
	width:23%;
	height:10%;
	background-color: gray;
	margin-top: 80%;
	position: absolute;
}

.halfstemi{
	width:23%;
}

.serifbottomi{
	width:100%;
}

.serifbottoml, .seriftopl{
	width:100%;
}

.steml{
	width:23%;
}

.circlef{
	top:0;
	right:0;
}

.stemf{
	height:74%;
	right:63%;
}

.block{
	width:63.75%;
	height:72%;
	right:0;
	top:28.5%;
	position: absolute;
	background-color:white;
}

.seriftopf{
	top:27%;
	left:-10%;
	height:9%;
}

.seriftopt{
	top:45%;
	width:100%;
}


.stemt{
	left:40%;
		width:23%;
}

.circleh{
	bottom:0;
}

.blockh{
	bottom:0;
	left:7%;
	background-color: white;
	width:63.75%;
	height:31%;
	position: absolute;
}

.blocke{
	bottom:0;
	right:0;
	background-color: white;
	width:57%;
	height:44%;
	position: absolute;
}

.crossbare{
	margin-top:130%;
	height:6%;
	width:100%;
	background-color: gray;
	position: absolute;
}

.hside{
	width:12%;
	background-color: gray;
	height:100%;
	right:1.5%;
	position: absolute;
}

.serifbottomh{
	right:0;
}

.circlec{
	width:100%;
}

.serifbottome{
	height:6%;
	width:60%;
	background-color: gray;
	position: absolute;
	bottom:0;	
	right:0;


}

.circleg{
	top:0;
	width:74%;
	height:43%;
}

.stemg{
	right:25%;
    top: 0;
    height: 82%;
}


.circleg2{

	 height: 39%;
    width: 75%;
}

.blockg{
    bottom: 49%;
    left: 0;
    width: 89%;
    height: 65%;
}

.seriftopg{
	right:0;
	top:0;
	position: absolute;
	height:4.2%;
}


.seriftoplrotate{
    -ms-transform: rotate(-36deg);
    -webkit-transform: rotate(-36deg);
    transform: rotate(-36deg);
    margin-top: 53%;
    width: 58%;
    right: 12%;
}

.serifbottomlrotate{
    -ms-transform: rotate(36deg);
    -webkit-transform: rotate(36deg);
    transform: rotate(37deg);
    margin-top: 96%;
    width: 90%;
	    right: -15px;

	}


.circlep{
	right:0;
}	


.seriftopp{
	left:0;
	height: 5%;
}

.stemp{
	left:23%;
	height: 100%
}

.stemq{
	height: 100%;
}

.blocku{
 margin-left: 0;
    margin-top: 50%;
    width: 62.916%;
    height: 36%;
    background-color: white;
    position: absolute;

}

.u2{width: 7%;
    height: 30%;
    margin-top: 58%;
    background-color: gray;
    position: absolute;
}

.seriftopvleft{
	left:0;
	bottom: 49%;

}


.seriftopvright{
	right:0;
	bottom: 49%;
	
}

.vbarleft{
    height: 69%;
    transform: rotate(-30deg);
    left: 29%;
    margin-bottom: -15%;
}

.vbarright{
    height: 69%;
    transform: rotate(30deg);
    left: 64%;
    margin-bottom: -15%;
}


.v{background-color: white;
	overflow: hidden;}

.vbarright2{
    height: 69%;
    transform: rotate(30deg);
    left: 94%;
    margin-bottom: -15%;
}

.rightw{
	margin-left:-20%;
}

.vbarleft2{
height: 69%;
    left: 57%;
    margin-bottom: -7%;
    width: 4%;
}

.vbarright2{
    height: 69%;
    left: 78%;
    margin-bottom: -9%;
    width: 4%;
}


.seriftopvright2{
	width:25%;
}


.seriftopr{
	left:0;
	bottom:49%;
}

.serifbottomr{
	left:0;
	bottom:0;
}

.halfstemr{
	left:23%;
}

.circler{
	width:75%;
	right:0;
}

.blockr{

    bottom: 0;
    right: 0;
    background-color: white;
    width: 92%;
    height: 53%;
    position: absolute;
}

.right{
	right:0;
}

.left{
	left:0;
}

.vbarleft3{
    height: 64%;
    transform: rotate(-40deg);
    left: 42%;
    width: 11%;
    margin-bottom: -7%;

}

.vbarright3{
    height: 64%;
    transform: rotate(40deg);
    left: 47%;
    width: 11%;
    margin-bottom: -7%;

}

.wcover{
    background-color: white;
    width: 30%;
    top: 35%;
    left: 29%;
    height: 20%;
    position: absolute;
    z-index: 20000;
}

.blocky{
	height:20%;
	width:66%;
}

.yline{
	height:17%;
}


.ztop{width:100%;}
.zbottom{
	width:100%;
}


.zbar{
	height: 73%;
    transform: rotate(48deg);
    left: 48%;
    width: 11%;
    margin-bottom: -17%;
}
.circlem{
	bottom:0;
	width:45%;

}

.halfstemm{
	height:45%;
}

.mleft{
	width:6%;
}

.blockm{
	left:6%;
}

.serifbottomm{
	width:14%;
}






