*{
	box-sizing:border-box;
}


body{
	margin:0;
	padding:0;
	font-size:0;

}

h1{
	font-size:30px;
	text-decoration: none;
	font-family:futura, arial, sans-serif;	
	color:#4d4e4f;	
}


p, li{
	font-size:14px;
	text-decoration: none;
	font-family:futura, arial, sans-serif;	
	color:#4d4e4f;	
}

h3{
	font-size:16px;
	text-decoration: none;
	font-family:futura, arial, sans-serif;	
	color:#4d4e4f;		
}

.space{
	height:1px;
	width:100%;
}

.wrapper{
margin: 0 auto;
width:80%;
font-size:0;
padding-top: 80px;

}


.c{
	padding:0 15px 0 15px;
	margin: 0 0 50px 0;
	display: inline-block;
	vertical-align: top;

}


.c1{
	width:16.6%;

}


.c2{
	width:33.3%;
}

.c3{
	width:50%;

}

.c4{
	width:66.6%;
}

.c5{
	width:83.3%;
}

.c6{
	width:100%;
}


.name a{
	color: #9bc5de;
	text-decoration: none;
}

.name a:visited{
	color: #9bc5de;
	text-decoration: none;
}

.studio{
	color:#7c8e9d;
}



a:link {
    color: #9bc5de;	

}

a:visited {
    color: #4d4e4f;
}


a:hover {
    color: #7c8e9d;
}

a:active {
    color: yellow;
}